.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}



body {
background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
main {
padding-left: 240px;
}
}

.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
}

@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}



h1{
  color: #2B2D42;
  font-weight: 700;
  font-size: 25pt;
}

h2{
  color: #2B2D42;
  font-weight: 400;
  margin: 0 0 6px;
  font-size: 13pt;
  }
  
  
span {
  background-color: #e3e5e6;
}


.form-horizontal .form-control{
 background: #f0f0f0;
 border: none;
 border-radius: 20px;
 box-shadow: none;
 padding: 0 20px 0 45px;
 height: 40px;
 transition: all 0.3s ease 0s;
}
.form-horizontal{
 text-align: center;
}
.form-horizontal .heading{
 display: block;
 font-size: 25pt;
 font-weight: 700;
 padding: 35px 0;
 border-bottom: 1px solid #f0f0f0;
 margin-bottom: 30px;
 background: #333;
 color: #fff;
}


.form-horizontal .btn{
 font-size: 14px;
 color: #fff;
 background: #333;
 border-radius: 20px;
 padding: 10px 25px;
 border: none;
 text-transform: capitalize;
 transition: all 0.5s ease 0s;
}

.btn {
 display: inline-block; /* Строчно-блочный элемент */
 background: #333; /* Серый цвет фона */
 color: #fff; /* Белый цвет текста */
 padding: 1rem 1.5rem; /* Поля вокруг текста */
 text-decoration: none; /* Убираем подчёркивание */
 border-radius: 3px; /* Скругляем уголки */
   }
   
.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}





  
