{% extends "polls/base_generic.html" %}
{% load bootstrap4 %} 
{% block content %}
    <article>
        <h1>{{ name }}, {{author}} </h1>
    </article>

    {% if comments%}
      {% for comment in comments %}
      <a name="comment-{{ comment.id }}"></a>
      <div class="row" id="{{ comment.id }}">
          <div class="col-md-{{ comment.get_col }} col-md-offset-{{ comment.get_offset }}">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h2>Пользователь: {{ comment.user.username }}</h2>
                    
                        <h2><p>Дата публикации: {{ comment.date_published }}</p></h2>
                    </div>
                    <div class="panel-body">
                        <h2><div>{{ comment.comment }}</div></h2>
                            
                   </div>
                </div>
            </div>
        </div>
      {% endfor %}
           
      {% else %}
      <p><h2>Пока нет ни одного комментария. Будь первой!</p></h2>
      {% endif %}
      {% if request.user.is_authenticated %}
      {% if form %}
        <h2>Написать комментарий</h2>
           <form method="post" >
              {{ form.comment}}<p>
              <span>{{ error }}</span>
              {% buttons %}
              {% csrf_token %}        
              <a href=" " class="btn">Отправить</a>
              <input type="hidden" name="next" value="{{ next }}" />
              {% endbuttons %}
        </form> 
     {% else %}
         <h1></h1>
     {% endif %}
     {% endif %}

{% endblock %}
